#
# GENERAL SETTINGS
#

# Set prefix to bot's commands - useful for development with same bots in the channel.
DISCORD_COMMAND_PREFIX="!"

# Discord bot token acquired from Discord Developer Portal
DISCORD_BOT_TOKEN=INSERT_TOKEN_HERE

# Enable REST API server
REST_ENABLED=true

# Set REST API server to release mode (empty value will switch to debug mode)
REST_GIN_RELEASE=true

# Hostname for REST API server, may optionally contain port e.g. "localhost:9000"
REST_HOSTNAME="localhost:9000"

#
# EXAMPLE BOT SPECIFIC SETTINGS
#

#..